<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            
        </style>
        <title>RoboCode</title>
    </head>
    <body>
        <h4><div class="navbar">
            <a href="http://127.0.0.1:5000/" class="">Home</a>
            <a href="http://127.0.0.1:5000/about" class="">About</a>
            </div></h4>
        <h1>RoboCode</h1>
        <h3>Hi my name is {{name}} and I upload the codes of different program on this website</h3>
    </body>
</html>